DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/dbname
ALGORITHM=string
SECRET_KEY=string
EXPIRES_MINUTES_TOKEN=int
EXPIRES_DAYS_TOKEN=int
ADMIN_EMAIL=email
ADMIN_PASSWORD=password
ADMIN_NAME=string
AUTOCREATE_TABLE=boolean